@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<partial name="_AddRolePartial"  model="new RoleFormViewModel()"/>
<table class="table table-primary">
    <thead>  
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Role in Model)
        {
            <tr>
                <td>@Role.Name</td>
                <td><a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@Role.Id">Delete</a></td>
            </tr>
        }
    </tbody>

</table>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}